:root {

  --black: #000000;
  --alert: #d62828;
  --orange: #f77f00;
  --jaune: #fcbf49;
  --blanc: #ffffff;
}

/* NORMALIZER */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@font-face {
  font-family: 'banger';
  src: url(../fonts/Bangers-Regular.woff);
}

main {
  font-family: 'banger';
  margin: 0;
}

/*** body ***/

body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  /* position: fixed; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'banger';
  display: flex;
  justify-content: center;

}

header {
  font-family: 'banger';
  background-image: var(--bs-gradient);
  position: sticky;
  top: 0;
  left: 0;
}

.nav-desk-right {
  display: none;
}

.row {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cta {
  box-shadow: 10px 8px 9px rgba(179, 178, 178, 0.518);
  margin: auto;
  margin-top: 5rem;
  width: 20rem;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
}

.cta-img {
  margin: auto;
  margin-top: 1rem;
  width: 100%;

}

.cta-txt {
  text-align: center;
}

/*** nav mobile menu ***/
.nav-mobile {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: -100%;
  background-color: #000000e2;
  padding-top: 60px;
  transition: right 0.5s ease-in-out;
}

.nav-mobile.active {
  transition: right 0.5s ease-in-out;
  right: 0;
}

.nav-mobile a:hover {
  color: #ffffff;
}

/* nav mobile links */

.nav-mobile a {
  padding: 15px 19px 19px 19px;
  text-decoration: none;
  font-size: 2.5rem;
  color: #ffffffa2;
  display: block;
  text-align: center;
  transition: 0.3s;
}

.nav-mobile ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 3rem;
}

/* Close btn */
.nav-mobile .close {
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-size: 3rem;
  margin: 15px 0;

}

/* burger */

.burger.scroll {
  opacity: 0;
  transition: 0.1s;
}

.logo-nav.scroll {
  opacity: 0;
  transition: 0.1s;
}

.burger {
  position: fixed;
  top: 2rem;
  right: 1rem;
}

.logo-nav {
  position: fixed;
  top: 2rem;
  left: 1rem;
  /* margin-top: 1rem; */
  width: 5rem;
}

.nav-mobile-ns {
  display: flex;
  justify-content: space-around;
}

.nav-mobile-ns a {
  /* display: flex; */
  font-size: 1.5rem;
}

.nav-mobile-rs {
  display: flex;
  justify-content: space-around;

}

/*** music page ***/

.music {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.628);
  box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.385);
  margin-top: 10rem;
  /* justify-content:space-around; */

}

.title-music {
  margin-top: 1rem;
}

/*** news ***/
.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* background-color: #564b4b56; */
  /* box-shadow: 1px 1px 1px rgb(179, 178, 178); */
  margin: 1rem;

}

.btn-news {
  justify-content: flex-end;
  width: 2rem;
}

.article-title {
  text-align: left;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 1.5rem;
}

.grid-2 {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.628);
  padding: 1rem;

}

.main-img {
  width: auto;
  height: 10rem;
}

.article .description {
  font-size: 1rem;
  width: 400px;
  height: 400px;
}

.thumbs-list {
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

.thumbs-img {
  padding: 1px;
  background-color: rgba(255, 255, 255, 0.628);
  width: 100px;
  height: 100px;
}

/****** products ******/

.merch-title {
  margin-top: 5rem;
  justify-content: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.product-itm {
  box-shadow: 1px 1px 1px 1px rgb(179, 178, 178);
  display: block;
  margin: 0;
  background-color: #ffffff;
  justify-items: center;
  text-align: center;
  /* border: 0.1rem solid #000000; */

}

.product-ttl {
  padding-top: 1rem;
}

.product-price {}

.gallery-articles {
  display: flex;
  gap: 3rem;
}

.product-img {
  opacity: 1;
  max-height: 150px;
}

.product-itm:hover {
  background-color: #ffffff77;
}


/* Newsletter */
.form {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 1rem;
  border: none;
  color: white;
  padding: 5rem;
  margin-bottom: 1rem;
  margin-top: 10rem;

}

.form-title {
  color: white;
  font-size: 2rem;
  border: none;
  padding-top: 3rem;
  align-items: left;
}

.form-text {
  text-align: left;
  color: black;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;
  width: 20rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

}

.form-text {
  text-align: left;
  color: black;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;
  width: 20rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

}


.label-form {
  color: white;
  font-size: 1.2rem;
  border: none;
  padding-top: 0.5rem;

}

.label-form-select {
  color: black;
  font-size: 1rem;
  border: none;
  padding: 1rem;

}

.select {
  color: black;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

}

.form-validate {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  padding: 1rem;
  border-radius: 0.2rem;
  width: 10rem;
  margin-top: 0.5rem;
  background-color: var(--black);
  color: var(--blanc);
  align-items: left;
}

.notif-wrapper {
  /* position: fixed;
  top: 5rem;
  left: 5rem; */
  /* margin: 10rem; */
  /* width: 100%; */
}


.notification,
.error {
  background-color: black;
  color: white;
  border-radius: 0.2rem;
  padding: 1rem;
  margin-top: 1rem;
}

/* }
.error {
  .notification {
    margin-top: 1rem;
  } */

.hidden {
  display: block;
}


.footer-desktop {
  display: none;
}

/* ---------------------- */
/* ------ADMIN PAGE------ */
/* ---------------------- */

.title {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  text-align: center;
  padding: 1rem;
  width: 100%;
  margin-bottom: 5rem;
}

.formadmin {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 1rem;
  border: none;
  color: white;
  padding: 1rem;
  background-color: #ffffff59;
  margin: 2rem;
}

.formadmin-connexion {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 1rem;
  border: none;
  color: white;
  padding: 1rem;
  background-color: #ffffff59;
  margin: 2rem;
  margin-top: 5rem;
}

.admin-deconnexion {
  font-family: Helvetica, Arial, sans-serif;
position : fixed;
top: 1rem;
right : 1rem;
  margin: auto;
  border: none;
  color: white;
  padding: 1rem;
  background-color: #00000059;
  text-decoration: none;
}

.adminform {

  margin-top: 5rem;
}

/******************************************************* DESKTOP STYLE **********************************************************/

@media screen and (min-width: 768px) {
  /* navigation */

  .burger {
    display: none;
  }

  body {
    object-fit: cover;
  }

  .row {
    margin-top: 10rem;

  }

  .flex {
    display: flex;
  }

  nav a {
    opacity: 1;
  }

  nav a:hover {
    opacity: 0.5;
  }

  footer a {
    opacity: 1;
  }

  footer a:hover {
    opacity: 0.5;
  }

  nav {
    background-color: #ffffff;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 5px 5px rgb(179, 178, 178);
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
  }

  nav img {
    max-height: 5rem;
    position: fixed;
    left: 1rem;
    top: 0rem;

  }

  nav ul {
    align-items: center;
  }


  nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    align-items: center;
  }

  nav ul li {

    margin-right: 1rem;
    padding: 1rem;
  }

  .nav-desktop {
    display: flex;
    width: 100%;
    height: 5vh;
  }

  .nav-desk-left {
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    height: 5vh;
  }

  .nav-desk-right {
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    height: 5vh;
  }

  .logo-nav {
    position: fixed;
    top: 0.5rem;
    left: 1rem;
    width: 5rem;
  }

  /*** musique page ***/

  .music {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.628);
    padding: 2rem;
    margin-top: 10rem;
    width: 50%;

  }

  .title-music {
    margin-top: 1rem;
  }

  /*** Products Merch ***/

  .merch-title {
    margin-top: 5rem;
    justify-content: center;
  }


  .products {
    display: grid;
    margin-top: 1rem;
    margin-bottom: 5rem;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: #564b4b56; */
    /* box-shadow: 1px 1px 1px rgb(179, 178, 178); */
  }

  .product-itm {
    /* box-shadow: 1px 1px 1px 1px rgb(179, 178, 178); */
    display: block;
    justify-items: center;
    text-align: center;
  }

  .product-ttl {
    padding-top: 5%;
  }

  .product-price {}

  .gallery-articles {
    display: flex;
    gap: 1rem;
  }

  .product-img {
    opacity: 1;
    max-height: 200px;
  }

  .product-itm:hover {
    background-color: #ffffff77;
  }

  /*** News Articles ***/

  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* box-shadow: 1px 1px 1px rgb(179, 178, 178); */
    /* margin:10px; */
  }

  .article-title {
    text-align: left;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1.5rem;
  }

  .grid-2 {
    background-color: rgba(255, 255, 255, 0.628);
    padding: 20px;

  }

  .main-img {
    margin-top: px;
    margin-left: 0px;
    width: auto;
    height: 25rem;
  }

  .article .description {
    font-size: 1rem;
    width: 400px;
    height: 400px;
  }

  .thumbs-list {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .thumbs-img {
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.628);
    width: 100px;
    height: 100px;
  }

  .gallery {
    margin: 150px;
  }

  .cta {
    box-shadow: 10px 8px 9px rgba(179, 178, 178, 0.518);
    margin: auto;
    margin-top: 1rem;
    width: 40rem;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
  }

  .cta-img {
    margin: auto;
    margin-top: 1rem;
    width: 100%;

  }

  .cta-txt {
    text-align: center;
  }




  /*** footer  ***/


  .footer-desktop {
    display: flex;
    margin: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px -1px 10px rgb(0, 0, 0);
  }

  .logo-rs {
    width: 2rem;
  }

  .footer-left {
    justify-content: flex-start;
    width: 100%;
    height: 5vh;

    color: rgb(255, 255, 255);
  }

  .footer-right {
    justify-content: flex-end;
    width: 100%;
    height: 5vh;
    color: rgb(255, 255, 255);
  }

  footer {
    left: 0;
    font-family: 'banger';
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5rem;
    /* Ajustez la hauteur selon vos besoins */
    position: fixed;
    bottom: 0;
  }


  footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  footer ul li {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
  }

  footer ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-mobile-rs {
    display: none;
  }

  .player {
    position: relative;
    background-color: #0a53be;
    z-index: 5;
  }


  /* ------------------------- */
  /* ------ ADMIN PAGE ------- */
  /* ------------------------- */

  .title {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding: 1rem;
    margin-bottom: 5rem;
  }

  .formadmin {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 1rem;
    border: none;
    color: white;
    padding: 1rem;
    background-color: #ffffff59;
    margin: 2rem;
  }
}