/* NORMALIZER */
* {
    box-sizing: border-box;
}
body {
    background-image: url(../img/BG.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position : center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
ul, dl, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    border: none;
    background: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@font-face {
    font-family: 'banger';
    src: url(../fonts/Bangers/Bangers-Regular.ttf);
}

nav a{
    opacity: 1;
}

nav a:hover {
    opacity: 0.5;
}


header {
    font-family: 'banger';
    /* background-color:black;
    background-image: var(--bs-gradient); */
    
    position:sticky;
    top: 0;
    left: 0;
    
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 5px 5px rgb(179, 178, 178);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 15vh;
    background-color: #bbbbbbee;


}

nav img{
    justify-content: flex-start;
    text-align: center;
    display: flex;  
    max-height: 100px;
}
nav a{
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
nav ul{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul li {
    display: inline-block;
    width: 15%;
    
}


nav ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.759);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

footer {
    font-family: 'banger';
    background-color: #FFFFFF;
    background-image: var(--bs-gradient);
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    position: fixed;
    bottom: 0;
    left: 0;
    
}
footer img{
    width: 10%;
}
footer ul{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer ul li {
    display: inline-block;
    width: 15%;
}

footer ul li a {
    text-decoration: none;
    color: rgb(45, 45, 45);
    font-size: 100%;
}




main {
    font-family: 'banger';
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffffffa3;
    box-shadow: 5px 5px 5px rgb(179, 178, 178);

}

.product-itm {
    box-shadow: 5px 5px 5px rgb(179, 178, 178);
    display: block;
    justify-items: center;
    text-align: center;
    
}

.product-ttl {
    padding-top: 5%;
    
}
.product-price {
}

.product-img {
opacity: 1;
    max-height: 200px;
}
.product-img:hover{
    opacity: 0.5;
}